# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
coverage
test-report.junit.xml
dist
dist-ssr
*.local

# checking `public` in is an option if your source code is private
# it lets the codepipeline restore the hunt on each deployment
public

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
